body {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.no-display {
    display: none;
}

button {
    padding: 0;
    border: none;
    background: none;
}


/* 
===============handling the contact section==============
*/

.contact-section {
    font-size: 16px;
    max-width: 100vw;
    min-height: 40vh;
    background-color: #1C1D21;
    border-top: 2px solid white;
    padding: 3.5% 5%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: 32% 60%; */
    text-align: center;
    color: white;
}


/* handling the text in the left side of contact section  */

.contact-section .contact-details {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 31.4%;
}

.contact-section .contact-details .contact-icons {
    font-size: 2.1em;
    margin: 0.5em;
    margin-bottom: 0.3em;
}

.contact-section .contact-details .contact-icons a {
    transition-duration: 0.4s;
}

.contact-section .contact-details .contact-icons a:nth-child(2) {
    padding: 0 0.3em;
}

.contact-section .contact-details .contact-icons a:hover {
    color: #fff;
    text-shadow: 0px 0px 3px white;
}

.contact-section .contact-details .contact-form-button {
    background-color: #66FCF1;
    color: black;
    text-align: center;
    align-content: center;
    padding: 0.7em;
    margin: 0.5em;
    margin-top: 1.5em;
    border-radius: 16px;
    /* width: 40%; */
    text-overflow: ellipsis;
    transition-duration: 0.4s;
}

.contact-section .contact-details .contact-form-button:hover {
    box-shadow: 0px 0px 10px #66FCF1;
}


/* handling the map on the right side  */

.contact-section .contact-form-map-mix-outer {
    min-width: 59.3%;
}

.contact-section .contact-form-map-mix-outer .contact-form-map-mix-inner {
    width: 80%;
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
}

.contact-section .contact-form-map-mix-outer .contact-map iframe {
    height: 400px;
    width: 100%;
    border-radius: 26px;
}


/* handling the form on the right side  */

.contact-details .contact-form-button {
    font-size: inherit;
    font-family: "Montserrat", sans-serif;
}

.contact-form-map-mix-outer .contact-form-map-mix-inner .contact-form {
    width: 100%;
    text-align: left;
    background-color: #47A7A4;
    /* border: 0.1px solid #1C1D21; */
    border-radius: 25px;
    /* margin: 0 auto; */
    height: 400px;
    /* for animation */
    transform: translateY(-404px);
    clip-path: circle( 0% at 0% 0%);
    /* z-index: ; */
}

.contact-form-animation {
    animation: circle-appear 3s ease-in-out forwards;
    -webkit-animation: circle-appear 3s ease-in-out forwards;
}

@keyframes circle-appear {
    0% {
        clip-path: circle( 0% at 0% 0%);
    }
    100% {
        clip-path: circle( 500% at 0% 0%);
    }
}

@-webkit-keyframes circle-appear {
    0% {
        clip-path: circle( 0% at 0% 0%);
    }
    100% {
        clip-path: circle( 500% at 0% 0%);
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    position: relative;
    bottom: 2px;
    width: 100%;
    font-size: 1.25em;
}

.contact-form form {
    height: 100%;
    position: relative;
    top: 10px;
}

.contact-form .contact-form-element {
    color: black;
    font-weight: 500;
    margin: 0% 5%;
    display: flex;
    flex-direction: column;
}


/* .contact-form .contact-form-element:first-child{
    margin-bottom: 0%;
} */

.contact-form .contact-form-element:nth-child(2) {
    margin-top: 1%;
    margin-bottom: 1.5%;
}


/* .contact-form .contact-form-element:last-child{
    margin-top: 0%
} */


/* .contact-form-map-mix-outer .contact-form-map-mix-inner .contact-form .contact-form-element label {

} */

.contact-form .contact-form-element label {
    padding: 3px 5px;
    margin-bottom: none;
}

.contact-form .contact-form-element input,
.contact-form .contact-form-element textarea {
    border: none;
    border-radius: 10px;
    font-size: inherit;
    background-color: #E4EBF2;
    font-family: "Montserrat", sans-serif;
    transition-duration: 0.2s;
    padding: 8px;
    font-size: 0.8em;
}

.contact-form .contact-form-element textarea {
    resize: none;
}

.contact-form .contact-form-element input:focus,
.contact-form .contact-form-element textarea:focus {
    background-color: #E4EBF2;
    box-shadow: 0px 0px 5px black;
}


/* .contact-section .contact-details .contact-form-error {
    color: red;
    padding: 0.4em;
} */


/* @media screen and (max-width:1280px) {
    .contact-section {
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    .contact-section .contact-form-map-mix-outer .contact-map iframe {
        height: 300px;
    }
} */

@media screen and (max-width:935px) {
    .contact-section .contact-form-map-mix-outer {
        flex-grow: 2;
        margin-top: 20px;
    }
}